:root {
  --basic-family: "Raleway", "Roboto", "Arial", "Helvetica", sans-serif;
  --second-family: "Manrope", Arial, sans-serif;

  --bg-main: linear-gradient(45deg, #0085ff 3.33%, #8f00ff 131.11%);
  --bg-color: #000000;
  --bg-color2: linear-gradient(180deg, #ff0000 0%, #ff005c 100%);
  --bg-color3: rgba(0, 0, 0, 0.7);
  --bg-color4: #1d1d1f;
  --bg-color5: #131315;
  --bg-color7: linear-gradient(106.92deg, #ff8008 0%, #ffc837 100%);
  --bg-color8: linear-gradient(90deg, #00b09b 0%, #96c93d 100%);
  --bg-color9: linear-gradient(95.66deg, #fe1989 0%, #e60045 100%);
  --bg-color10: linear-gradient(92.16deg,#0cebeb 0%,#20e3b2 50%,#29ffc6 100%);
  --bg-color11: linear-gradient(93.52deg, #00D1FF 0%, #0075FE 100%);
  --bg-color12: linear-gradient(91.93deg, #FF8008 0%, #FFC837 100%);
  --bg-color13: linear-gradient(72.28deg, #EB6300 24.22%, #FCA845 75.78%);
  --bg-color14: linear-gradient(90deg, #DA22FF 0%, #9733EE 100%);
  --bg-color15: linear-gradient(45deg, #FDFC47 0%, #24FE41 100%);
  --bg-color16: linear-gradient(90deg, #00B09B 0%, #96C93D 100%);
  --bg-color17: #2A2A30;
  --bg-color18: #CF0A2C;
  --bg-color19: #0082F1;
  --bg-color20: linear-gradient(135deg, #00D322 0%, #00F38D 100%);
  --bg-color21: linear-gradient(92.16deg, #0CEBEB 0%, #20E3B2 50%, #29FFC6 100%);
  --bg-color22:rgba(0, 0, 0, 0.15);
  --bg-color23:rgba(0, 117, 255, 0.2);
  --bg-color24: linear-gradient(100.78deg, #ff512f 0%, #dd2476 100%);
  --bg-color25: linear-gradient(106.92deg, #4A00E0 0.01%, #8E2DE2 100%);
  --bg-color26: linear-gradient(90.88deg, #00FF75 0%, #42FF00 100%);
  --bg-color27: linear-gradient(100.78deg, #00C2FF 0%, #5424DD 100%);
  --bg-color28: linear-gradient(135deg, #00FF94 0%, #00E0FF 100%);
  --bg-color29: linear-gradient(135deg, #FA0DFF 0%, #FF0D81 100%);
  --bg-color30: linear-gradient(135deg, #0085FF 0%, #0038FF 100%);
  --bg-color31: linear-gradient(135deg, #ADFF00 0%, #00C2FF 100%);
  --bg-color32:rgba(19, 19, 21, 0.4);
  --bg-color33: #FFFFFF;
  --bg-color34: linear-gradient(90.88deg, #00FF75 0%, #42FF00 100%);
  --bg-color35:  linear-gradient(106.5deg, #FF3D00 0%, #FF007A 100%);
  --bg-line: #292929;
  --bg-line2: #3C3C3C;


  --color-main: #ffffff;
  --color-second: #767676;

  --box-shadow1: 0px 10px 25px rgba(0, 133, 255, 0.3);
  --box-shadow2: 0 10px 25px rgba(0, 209, 255, 0.3);
  --box-shadow3: 0px 5px 25px rgba(0, 0, 0, 0.15);
  --box-shadow4: 0px 10px 25px rgba(237, 57, 86, 0.3);
  --box-shadow5: 0px 10px 25px rgba(255, 165, 32, 0.3);
  --box-shadow6: 0px 10px 25px rgba(75, 189, 109, 0.3);
  --box-shadow7: 0px 10px 25px #e60045;
  --box-shadow8: 0px 10px 25px #20e3b2;
  --box-shadow9: 0px 10px 25px #00D1FF;
  --box-shadow10: 0px 10px 25px #FF8008;
  --box-shadow11: 0px 10px 25px #FD1D1D;
  --box-shadow12: 0px 10px 25px #C300C7;
  --box-shadow13: 0px 10px 25px #A2FD45;
  --box-shadow14: 0px 10px 25px #4BBD6D;
  --box-shadow15: 0px 10px 25px rgba(230, 0, 69, 0.3);
 --box-shadow16: 0px 10px 25px rgba(255, 128, 8, 0.3);
 --box-shadow17: 0px 10px 25px rgba(57, 200, 96, 0.3);
 --box-shadow18: 0px 0px 20px rgba(0, 0, 0, 0.1);
 --box-shadow19: 0px 10px 25px rgba(255, 0, 0, 0.3);
 --box-shadow20: 0px 10px 25px rgba(0, 211, 34, 0.25);
 --box-shadow21: 0px 0px 30px rgba(0, 0, 0, 0.05);
 --box-shadow22: 0px 10px 25px rgba(123, 97, 255, 0.3);
 --box-shadow23: 0px 10px 25px rgba(0, 255, 148, 0.3)
 --box-shadow24: 0px 10px 25px rgba(0, 209, 255, 0.3);
 --box-shadow25: 0px 10px 25px rgba(253, 29, 29, 0.3);
 --box-shadow26: 0px 10px 25px rgba(7, 255, 106, 0.3);
 --box-shadow27: 0px 10px 25px rgba(8, 221, 252, 0.3);
 --box-shadow28: 0px 10px 25px rgba(255, 199, 0, 0.25);
 --box-shadow29: 0px 10px 25px rgba(0, 255, 148, 0.25);
 --box-shadow30: 0px 10px 25px rgba(250, 13, 255, 0.25);
 --box-shadow31: 0px 10px 25px rgba(195, 0, 199, 0.3);
 --box-shadow32: 0px 10px 25px rgba(40, 96, 255, 0.3);
 --box-shadow33: 0px 10px 25px rgba(123, 254, 68, 0.3);
 --box-shadow34: 0px 10px 25px rgba(250, 13, 255, 0.3);
 --box-shadow35: 0px 10px 25px #FA0DFF;
 --box-shadow36: 0px 10px 25px rgba(0, 255, 148, 0.3);
 --box-shadow37:  0px 10px 25px rgba(255, 26, 62, 0.3);
 --box-shadow38:  0px 10px 25px #7B61FF;
 
  --text-shadow: #ff0000;
  --text-shadow2:  0px 10px 25px #4BBD6D;
  --text-shadow3: 0px 10px 25px #FFA520;
  //задаем дефолтное значение для переменной --svgColor
  --svgColor: currentColor;

  --scrollbarBg: #BCBCBC;
  --scrollbarThumb: rgba(0, 0, 0, 0.1);
  --scrollbarWidth: 10px;
  --scrollbarBorder: 100px;

}
//bacgrounds
$body-bg: #ff55;

//fonts
$basic-family: var(--basic-family);
$second-family: "Oswald", Arial, sans-serif;
$arial-family: "Manrope", Arial, sans-serif;

//container
$container-max-width: 320px;
$container-min-width: 1410px;

//media
// $xs: 350px;
// $sm: 556px;
// $md: 768px;
$lg: 1840px;
$lm: 1900px;