.add-file {
  @include wrap(var(--bg-color5), var(--box-shadow3), 15px);
  padding: 25px;
  max-width: 330px;
  align-self: start;
  margin-top: 21px;
}
.add-file__title {
  @include font(18px, 21px, 700);
  color: var(--color-main);
  margin-bottom: 25px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.add-file__subtitle {
  @include font(15px, 21px, 400);
  color: var(--color-main);
  margin-bottom: 25px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.add-file__dashed {
  border: 1px dashed #292929;
  border-radius: 20px;
  padding: 25px 21px;
}
.add-file__profile {
  @include flex(flex, center, center, column, none);
  margin-top: 187px;
  margin-bottom: 187px;
}
.add-file__profile {
  @include flex(flex, center, center, column, none);
  margin-top: 132px;
  margin-bottom: 160px;
}
.add-file__profile2 {
  @include flex(flex, center, center, column, none);
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
.add-file__profile > .profile__wrap {
  @include flex(flex, none, center, column, none);
  text-align: center;
}
.add-file__profile > .profile__wrap-img {
  margin-bottom: 15px;
}
.add-file__profile2 > .profile__wrap-img {
  margin-bottom: 15px;
}
.add-file__dashed > .profile__button {
  width: 100%;
  text-align: center;
  @include flex(flex, center, center, none, none);
}
.add-file__wrap-img {
  width: 230px;
  height: 230px;
  @include wrap(var(--bg-color33), 0 0 0 0, 20px);
  @include flex(flex, center, center, none, none);
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
}
.add-file__img {
  width: 100%;
  height: auto;
  display: block;
}
.add-file__close {
  width: 30px;
  height: 30px;
  top: -16px;
  right: -11px;
  position: absolute;
  cursor: pointer;
  border: none;
  @include wrap(var(--bg-color2), var(--box-shadow19), 10px);
  @include font(15px, 18px, 600);
  color: var(--color-main);
  @include flex(flex, center, center, none, none);
  padding: 5px;
}
.add-file__text {
  @include font(15px, 18px, 700, $ff: "Manrope");
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
}
.add-file__button {
  width: 100%;
  @include flex(flex, center, center, none, none);
  height: 50px;
}
.add-file__button:not(:last-child) {
  margin-bottom: 10px;
}
.add-file__icon {
  width: 24px;
  height: 24px;
  color: var(--color-main);
  margin-right: 10px;
}
