.body {
  background-color: var(--bg-color);
}

.header__nav {
  margin-right: auto;
  position: static;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  transition: transform 1.2s ease;
  padding: 0 130px;
}
.nav--active > .nav__list > .nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav--active > .nav__list > .nav__item > .nav__link > .nav__link-text {
  display: none;
}
.nav--active > .nav__list > .nav__item > .nav__link > .nav__link-img {
  flex-shrink: 0;
  margin-right: 0 !important;
}
.menu--active {
  width: 104px;
  padding: 27px 15px !important;
  //   display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
.profile--active {
  display: none;
}
.profile-img--active {
  padding: 0 !important;
  margin-right: 0 !important;
}
.burger--active {
  left: 78px !important;
  transform: rotate(180deg);
}
.logo__img-name--active {
  display: none !important;
}
.grid--active {
  grid-template-columns: 104px auto !important;
}
.container--active {
  max-width: 1410px !important;
}
