.box {
  @include flex(flex, none, none, none, none);
}
.box--top{
  margin-top: 21px;
  margin-bottom: 13px;
}
.box--width {
  width: 23%;
  @include flex(flex, none, none, column, none);
}
.box--width1 {
  width: 30%;
  @include flex(flex, none, none, column, none);
}
.box__column {
  cursor: pointer;
  padding: 25px 25px 25px 20px;
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  width: 100%;
}
.box__item {
  cursor: pointer;
  padding: 25px;
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  width: 100%;
  @include flex(flex, none, none, none, none);
}
.box__item2 {
  cursor: pointer;
  padding: 25px;
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  width: 100%;
  @include flex(flex, none, none, column, none);

}
.box__item2 > .box__wrap-img{
margin-right: 0;
margin-bottom: 15px;
}
.box__item2 > .box__flex .box__number{
  @include font(62px, 76px, 800, $ff: "Gilroy");
  }

.box__item--color1 {
  @include wrap(var(--bg-color2), var(--box-shadow4), 20px);
}
.box__item--color2 {
  @include wrap(var(--bg-color7), var(--box-shadow5), 20px);
}
.box__item--color3 {
  @include wrap(var(--bg-color8), var(--box-shadow6), 20px);
}
.box__item--color4 {
  @include wrap(var(--bg-color20), var(--box-shadow6), 20px);
}
.box__item--color5 {
  @include wrap(var(--bg-color30), var(--box-shadow32), 20px);
}
.box__item--color6 {
  @include wrap(var(--bg-color9), var(--box-shadow15), 20px);
}
.box__item--color7 {
  @include wrap(var(--bg-color15), var(--box-shadow33), 20px);
}
.box__item--color8 {
  @include wrap(var(--bg-color34), var(--box-shadow36), 20px);
}
.box__item--color8 {
  @include wrap(var(--bg-color34), var(--box-shadow36), 20px);
}
.box__item--color9 {
  @include wrap(var(--bg-color20), var(--box-shadow6), 20px);
}
.box__item--color7 > .box__flex > .box__wrap .box__number {
  color: #000;
}
.box__item--color7 > .box__flex > .box__wrap .box__text {
  color: #000;
}
.box__item--color8 > .box__flex > .box__wrap .box__number {
  color: #000;
}
.box__item--color8 > .box__flex > .box__wrap .box__text {
  color: #000;
}
.box__item--color4 > .box__flex > .box__wrap .box__number {
  color: #000;
}
.box__item--color4 > .box__flex > .box__wrap .box__text {
  color: #000;
}
.box__item:not(:last-child) {
  margin-right: 25px;
}
.box__wrap-img {
  width: 50px;
  height: 50px;
  @include wrap(var(--bg-color5), none, 15px);
  @include flex(flex, center, center, none, none);
  margin-right: 15px;
  flex-shrink: 0;
}
.box__wrap-img1 {
  @include wrap(var(--bg-color4), var(--box-shadow3), 15px);
  height: 60px;
  width: 60px;
  @include flex(flex, center, center, none, none);
}
.box__img {
  display: block;
  height: 24px;
  width: 24px;
}
.box__img--color1 {
  --svgColor: url("#gradient1");
  filter: drop-shadow(0px 10px 25px #2860ff);
}
.box__img--color2 {
  --svgColor: url("#gradient2");
  filter: drop-shadow(0px 10px 25px #ed3956);

}
.box__img--color3 {
  --svgColor: url("#gradient3");
  filter: drop-shadow(0px 10px 25px #ffa520);
}
.box__img--color4 {
  --svgColor: url("#gradient4");
  filter: drop-shadow(0px 10px 25px #4bbd6d);
}
.box__img--color5 {
  --svgColor: url("#gradient9");
}
.box__img--color6 {
  --svgColor: url("#gradient15");
  filter: drop-shadow(0px 10px 25px #e60045);
}
.box__img--color7 {
  --svgColor: url("#gradient16");
  filter: drop-shadow(0px 10px 25px #7bfe44);
}
.box__img--color8 {
  --svgColor: url("#gradient9");
  filter: drop-shadow(0px 10px 25px #4bbd6d);
}
.box__img--color9 {
  --svgColor: url("#gradient15");
  filter: drop-shadow(0px 10px 25px #4bbd6d);
}
.box__img--width {
  width: 34px;
  height: 23px;
}
.box__flex {
  width: 82%;
}
.box__title {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box__wrap {
  display: flex;
  align-items: first baseline;
}
.box__number {
  @include font(24px, 29px, 800, $ff: "Gilroy");
  color: var(--color-main);
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box__number2 {
  @include font(18px, 22px, 800, $ff: "Gilroy");
  color: var(--color-main);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}
.box__text {
  @include font(15px, 18px, 500);
  color: var(--color-main);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.box__title--bottom {
  margin-bottom: 20px;
}
.box__number--font {
  @include font(44px, 54px, 800, $ff: "Gilroy");
}
.box__progress {
  margin-top: 20px;
  margin-bottom: 20px;
}
