.burger {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  border: none;
  padding: 8px;
  @include wrap(var(--bg-color17), var(--box-shadow21), 10px);
  position: fixed;
  left: 298px;
}
.burger__img {
  display: block;
  width: 24px;
  height: 24px;
  color: var(--color-main);
}
