.button {
  --btn-bg-color: transparent;
  --btn-box-shadow: none;
  --btn-color: inherit;

  --btn-hover-bg-color: transparent;
  --btn-hover-box-shadow: none;
  --btn-hover-color: inherit;
  // white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  @include font(15px, 17px, 600);
  color: var(--color-main);
  background: var(--btn-bg-color);
  box-shadow: var(--btn-box-shadow);
  font-feature-settings: "pnum" on, "lnum" on;
  // &:hover {
  //   background: var(--btn-hover-bg-color);
  // }
}
.button__icon {
  width: 24px;
  height: 24px;
  color: #000000;
}
.button--kg {
  padding: 5px 10px 5px 5px;
  border-radius: 20px !important;
}
.button--sg {
  padding: 9px 15px 8px;
  border-radius: 12px !important;
}
.button--sm {
  padding: 5px 15px;
  border-radius: 12px;
}
.button--ms {
  padding: 5px 5px 5px 10px;
  border-radius: 12px;
}
.button--mx {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 12px !important;
}
.button--mg {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px !important;
}
.button--xss {
  padding: 7px;
  border-radius: 20px !important;
}
.button--sx {
  padding: 13px;
  border-radius: 12px;
}
.button--xm {
  padding: 16px 15px;
  border-radius: 15px;
}
.button--md {
  padding: 13px 15px;
  border-radius: 15px;
}
.button--gm {
  padding: 17px 20px 16px;
  border-radius: 15px;
}
.button--ls {
  padding: 15px 37px 16px 53px;
  border-radius: 15px;
}
.button--width-ssx {
  width: 86px;
}
.button--width-sx {
  width: 98px;
}
.button--width-xs {
  width: 90px;
}
.button--width-sm {
  width: 224px;
}
.button--width-ms {
  width: 170px;
}
.button--width-s {
  width: 122px;
}
.button--width-sl {
  width: 171px;
}
.button--width-n {
  width: 157px;
}
.button--width-a {
  width: 180px;
}
.button--width-l {
  width: 195px;
}
.button--width {
  width: 94px;
}
.button---width-md {
  width: 280px;
}
.button---width-lg {
  width: 300px;
}
.button---font::placeholder {
  @include font(15px, 18px, 400);
  color: var(--color-main);
}
.button---font-s {
  @include font(15px, 18px, 600);
  color: var(--color-main);
}
.button__img {
  display: block;
  margin-right: 10px;
  color: var(--color-main);
  width: 24px;
  height: 24px;
}

.button__down {
  height: 24px;
  width: 24px;
  background: var(--bg-color22);
  border-radius: 8px;
  transform: rotate(180deg);
  margin-left: 5px;
}
.button--bg1 {
  --svgColor: url("#gradient1");
}
// .button__img--width {
//   height: 21px;
//   width: 20px;
//   margin-right: 0;
//   margin: 0 auto;
//   text-align: center;
// }
.button--flex {
  @include flex(flex, none, center, none, none);
}
.button--flex-end {
  @include flex(flex, space-between, center, none, none);
}
.button--flex-center {
  @include flex(flex, center, center, none, none);
}
.button--column {
  @include flex(flex, center, center, column, none);
}
.button--brand {
  color: var(--color-main);
  --btn-hover-bg-color: linear-gradient(93.52deg, #0075fe 0%, #00d1ff 100%);
  @include wrap(var(--bg-main), var(--box-shadow), 15px);
}
.button--brand2 {
  width: 50px;
  height: 50px;
  color: var(--color-main);
  --btn-hover-bg-color: linear-gradient(93.52deg, #0075fe 0%, #00d1ff 100%);
  @include wrap(var(--bg-main), var(--box-shadow), 15px);
}

.button--brand2 > .button__img {
  margin-right: 0px;
}
// .light .button--brand {
//   --btn-bg-color: linear-gradient(93.52deg, #00d1ff 0%, #0075fe 100%);
//   box-shadow: --box-shadow2;
//   color: --color-main;
//   --btn-hover-bg-color: linear-gradient(93.52deg, #0075fe 0%, #00d1ff 100%);
// }
.button--primary {
  border: 0.5px solid var(--bg-line);
  color: var(--color-main);
  --btn-hover-bg-color: linear-gradient(93.52deg, #0075fe 0%, #00d1ff 100%);
  @include wrap(var(--bg-color5), var(--box-shadow3), 15px);
}
.button--success {
  color: var(--color-main);
  --btn-hover-bg-color: linear-gradient(93.52deg, #0075fe 0%, #00d1ff 100%);
  @include wrap(var(--bg-color5), var(--box-shadow3), 15px);
}
.button--1 {
  color: var(--color-main);
  @include wrap(var(--bg-color14), var(--box-shadow4), 12px);
}
.button--2 {
  color: var(--color-main);
  @include wrap(var(--bg-color11), var(--box-shadow2), 12px);
}
.button--3 {
  width: 50px;
  height: 50px;
  color: var(--color-main);
  @include wrap(var(--bg-color17), var(--box-shadow3), 15px);
}
.button--4 {
  color: var(--color-main);
  @include wrap(var(--bg-color9), var(--box-shadow15), 12px);
}
.button--5 {
  color: var(--color-main);
  @include wrap(var(--bg-color12), var(--box-shadow16), 12px);
}
.button--6 {
  color: var(--color-main);
  @include wrap(var(--bg-color20), var(--box-shadow17), 12px);
}
.button--7 {
  color: var(--color-main);
  @include wrap(var(--bg-color2), var(--box-shadow19), 15px);
  width: 50px;
  height: 50px;
  padding: 13px;
}
.button--8 {
  color: var(--color-main);
  @include wrap(var(--bg-color20), var(--box-shadow20), 15px);
}
.button--9 {
  color: var(--color-main);
  @include wrap(var(--bg-color2), var(--box-shadow19), 15px);
}
.button--10 {
  color: #000;
  @include wrap(var(--bg-color28), var(--box-shadow36), 15px);
}
.button--11 {
  color: #000;
  @include wrap(var(--bg-color29), var(--box-shadow34), 15px);
}
.button--12 {
  color: var(--color-main);
  @include wrap(var(--bg-color17), var(--box-shadow3), 15px);
}
.button--13 {
  color: var(--color-main);
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
}
.button__text {
  @include font(15px, 18px, 600);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
}
.button__text2 {
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  @include font(13px, 15px, 400);
}
.button--ml {
  margin-left: 20px;
  color: #000000;
}
.button--color {
  color: #000000;
}
