.calendar {
  width: 320px;
  min-width: 240px;
  border-radius: 6px;
  position: absolute;
  padding: 25px;
  z-index: 100;
  top: 47px;
  left: -50px;
  @include wrap(var(--bg-color5), var(--box-shadow18), 20px);
  display: none;
  font-feature-settings: "pnum" on, "lnum" on;
}
.calendar__months {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px 16px 8px;
}
.calendar__flex {
  @include flex(flex, center, center, none, none);
}
.calendar__button {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  @include flex(flex, center, center, none, none);
  cursor: pointer;
}
.calendar__button:first-child {
  margin-right: 10%;
}
.calendar__icon {
  width: 24px;
  height: 24px;
  color: var(--color-main);
}
.calendar__icon--rotate {
  transform: rotate(180deg);
}
.calendar__icon--rotate2 {
  transform: rotate(0deg);
}
.calendar__month {
  @include font(18px, 21px, 700);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
}
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar__weeks {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar__week {
  @include flex(flex, center, center, none, none);
  font-feature-settings: "pnum" on, "lnum" on;
  aspect-ratio: 1/1;
  @include font(15px, 18px, 400);
  color: var(--color-main);
}
.calendar__day {
  @include flex(flex, center, center, none, none);
  font-feature-settings: "pnum" on, "lnum" on !important;
  aspect-ratio: 1/1;
  @include font(15px, 18px, 400);
  color: var(--color-main);
}
.calendar__day--opacity {
  color: var(--color-second);
  background: var(--bg-color17);
  font-feature-settings: "pnum" on, "lnum" on;

}
.calendar__day--start {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.calendar__day--end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
