.swiper-slide1__check {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.swiper-slide1__pseudo8,
.swiper-slide1__pseudo7,
.swiper-slide1__pseudo6,
.swiper-slide1__pseudo5,
.swiper-slide1__pseudo4,
.swiper-slide1__pseudo3,
.swiper-slide1__pseudo2,
.swiper-slide1__pseudo1 {
    flex-shrink: 0;
    @include font(15px, 17px, 600);
    color: var(--color-main);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
    border: none;
    border-radius: 15px;
    background-color: var(--bg-color4);
    padding: 16px 15px;
}

.swiper-slide1__pseudo {
    flex-shrink: 0;
    @include font(15px, 17px, 600);
    color: var(--color-main);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease;
    border: none;
    border-radius: 15px;
    background-color: var(--bg-color4);
    padding: 13px;
}

.swiper-slide1__img {
    height: 24px;
    width: 24px;
    display: block;
    color: var(--color-main);
}


.swiper-slide1__circl {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}
.swiper-slide1__circl1 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
    @include wrap(var(--bg-color9), var(--box-shadow7), 100px);

}
.swiper-slide1__circl2 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
    @include wrap(var(--bg-color10), var(--box-shadow8), 100px);

}
.swiper-slide1__circl3 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
    @include wrap(var(--bg-color11), var(--box-shadow9), 100px);

}
.swiper-slide1__circl4 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
    @include wrap(var(--bg-color12), var(--box-shadow10), 100px);

}
.swiper-slide1__circl5 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
    @include wrap(var(--bg-color13), var(--box-shadow11), 100px);

}
.swiper-slide1__circl6 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
    @include wrap(var(--bg-color14), var(--box-shadow12), 100px);

}
.swiper-slide1__circl7 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
    @include wrap(var(--bg-color15), var(--box-shadow13), 100px);

}
.swiper-slide1__circl8 {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
    @include wrap(var(--bg-color16), var(--box-shadow14), 100px);

}

.swiper-slide1__check:focus~.swiper-slide1__check__pseudo {
    @include wrap(var(--bg-color16), 0 0 0 0, 15px);
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo1>.swiper-slide1__circl1 {
    @include wrap(var(--color-main), var(--box-shadow3), 0);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo1 {
    @include wrap(var(--bg-color9), 0 0 0 0, 15px);
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo1>.swiper-slide1__circl1 {
    @include wrap(var(--color-main), var(--box-shadow3), 0);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo2 {
    @include wrap(var(--bg-color10), 0 0 0 0, 15px);
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo2>.swiper-slide1__circl2 {
    @include wrap(var(--color-main), var(--box-shadow3), 0);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo3 {
    @include wrap(var(--bg-color11), 0 0 0 0, 15px);
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo3>.swiper-slide1__circl3 {
    @include wrap(var(--color-main), var(--box-shadow3), 0);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo4 {
    @include wrap(var(--bg-color12), 0 0 0 0, 15px);
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo4>.swiper-slide1__circl4 {
    @include wrap(var(--color-main), var(--box-shadow3), 0);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo5 {
    @include wrap(var(--bg-color13), 0 0 0 0, 15px);
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo5>.swiper-slide1__circl5 {
    @include wrap(var(--color-main), var(--box-shadow3), 0);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo6 {
    @include wrap(var(--bg-color14), 0 0 0 0, 15px);
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo6>.swiper-slide1__circl6 {
    @include wrap(var(--color-main), var(--box-shadow3), 0);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}



.swiper-slide1__check:focus~.swiper-slide1__pseudo7 {
    @include wrap(var(--bg-color15), 0 0 0 0, 15px);
}

.swiper-slide1__check:focus~.swiper-slide1__pseudo7>.swiper-slide1__circl7 {
    @include wrap(var(--bg-color15), var(--box-shadow13), 0);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}
.swiper-slide1__check:focus~.swiper-slide1__pseudo8>.swiper-slide1__circl8 {
    @include wrap(var(--color-main), var(--box-shadow3), 0);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 10px;
}