.check {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.check-pseudo-img {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: block;
  background-color: #1d1d1f;
  border: 1px solid #767676;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 8px;
}
.check-pseudo-img:after {
  content: " ";
  width: 24px;
  height: 24px;
  background: url(../img/tablet/arrow.svg) center center no-repeat;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s ease;
  border-radius: 8px;
  position: absolute;
}
.check-pseudo-img:before {
  content: " ";
  width: 24px;
  height: 24px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s ease;
  background: var(--bg-main);
  box-shadow: var(--box-shadow3);
  border-radius: 8px;
  position: absolute;
}
.check:checked ~ .check-pseudo-img:after {
  opacity: 1;
  transform: scale(1);
}
.check:checked ~ .check-pseudo-img:before {
  opacity: 1;
  transform: scale(1);
}
.check-pseudo-star {
  background: url(../img/filter/star.svg) center center no-repeat;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  width: 24px;
  height: 24px;
  position: relative;
}
.check-pseudo-star:after {
  content: " ";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/filter/star-blue.svg) center center no-repeat;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s ease;
  position: absolute;
  filter: drop-shadow(0px 10px 25px rgba(0, 133, 255, 0.3));
}
.check:checked ~ .check-pseudo-star:after {
  opacity: 1;
  transform: scale(1);
}
.check-pseudo-circl {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  display: block;
  background-color: #1d1d1f;
  border: 1px solid #767676;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 100px;
}
.check-pseudo-circl:before {
  content: " ";
  width: 22px;
  height: 22px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s ease;
  background: #0085ff;
  box-shadow: 0px 10px 25px rgba(0, 133, 255, 0.3);
  border-radius: 100px;
  position: absolute;
  box-shadow: inset 0px 0px 7.32115px rgba(0, 133, 255, 0.5);
  filter: drop-shadow(0px 0px 18.9113px rgba(0, 133, 255, 0.7))
    drop-shadow(0px 0px 73.2115px rgba(0, 133, 255, 0.5));
}
.check:checked ~ .check-pseudo-circl:before {
  opacity: 1;
  transform: scale(1);
}
.check__name {
  @include font(15px, 18px, 600);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  margin-left: 11px;
}
