.editing {
  padding: 25px;
  @include wrap(var(--bg-color4), var(--box-shadow3), 20px);
}
.editing__title {
  margin-bottom: 25px;
}
.editing__flex {
  @include flex(flex, space-between, none, none, none);
}
.editing__legend {
  @include font(15px, 18px, 400);
  color: var(--color-second);
  font-feature-settings: "pnum" on, "lnum" on;
  margin-bottom: 10px;
}
.editing__textarea {
  @include font(15px, 18px, 400);
  color: var(--color-main);
  width: 300px;
  height: 100px;
  border: none;
  @include wrap(var(--bg-color17), 0 0 0 0, 15px);
  border: 0.5px solid var(--bg-line2);
  padding: 16px 20px;
  resize: none;
  font-feature-settings: "pnum" on, "lnum" on;
  margin-bottom: 25px;
}
.editing__btn-sub {
  @include flex(flex, none, center, none, none);
  background: var(--bg-color23);
  border: var(--bg-color23);
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  @include font(15px, 18px, 400);
  color: var(--color-main);
  margin-bottom: 10px;
}
.editing__label{
  position: relative;
}
.editing__img {
  height: 18px;
  width: 18px;
  color: var(--color-main);
  margin-left: 9px;
}
.editing__img2 {
  height: 24px;
  width: 24px;
  color: var(--color-main);
position: absolute;
top:12px;
right: 22px;
transform: rotate(270deg);
}
.editing__selection {
  position: relative;
  appearance: none;
  display: inline-block;
  padding: 16px 20px;
  @include font(15px, 18px, 400);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  @include wrap(var(--bg-color17), 0 0 0 0, 15px);
  border: none;
  margin-bottom: 25px;
  width: 300px;
}
.editing__selection:after {
  
  // position: absolute;
  // content: ' ';
  // background: url(../img/tablet/arrow.svg) no-repeat;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // top: 0;
  // width: 24px;
  // height: 24px;
  //   z-index: 10;

content: "▼";
padding: 0 8px;
font-size: 12px;
position: absolute;
right: 8px;
top: 4px;
z-index: 1;
text-align: center;
width: 10%;
height: 100%;
pointer-events: none;
box-sizing: border-box;
}
select {
padding-right: 25px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.editing__down {
  height: 24px;
  width: 24px;
}
.editing__btns {
  @include flex(flex, none, center, none, none);
  margin-bottom: 25px;
}
.editing__inputs {
  @include flex(flex, none, center, none, none);
  padding: 16px 20px;
  border: 0.5px solid var(--bg-line2);
  @include wrap(var(--bg-color17), 0 0 0 0, 15px);
}
.editing__input-rg {
  border: none;
  @include font(15px, 18px, 400);
  color: var(--color-main);
  @include wrap(var(--bg-color17), 0 0 0 0, 0);
  padding-right: 5px;
  width: 159px;
  margin-right: 10px;
  border-right: 0.5px solid var(--bg-line2);
}
.editing__input-lf {
  border: none;
  @include font(15px, 18px, 400);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  @include wrap(var(--bg-color17), 0 0 0 0, 0);
  width: 80px;
  margin-left: 10px;
}

.editing__btn {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  @include wrap(var(--bg-main), var(--box-shadow1), 15px);
  border: none;
  cursor: pointer;
  @include flex(flex, center, center, none, none);
}
.editing__icon {
  width: 24px;
  height: 24px;
  color: var(--color-main);
  display: block;
}
