.edit-order {
  // margin-right: 30px;
}
.edit-order--top {
  margin-top: 21px;
}
.edit-order__wrapper {
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  padding: 25px;
  margin-bottom: 30px;
  position: relative;
}
.edit-order__slider {
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  padding: 25px;
  margin-bottom: 30px;
}
.edit-order__title {
  @include font(18px, 21px, 700);
  color: var(--color-main);
  margin-bottom: 26px;
  font-feature-settings: "pnum" on, "lnum" on;
  @include flex(flex, none, center, none, none);
}
.edit-order__icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-left: 10px;
}
.edit-order__icon2 {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: 10px;
  --svgColor: url("#gradient2");
  // box-shadow: inset 0px 0px 7.32115px rgba(255, 0, 0, 0.5);
  filter: drop-shadow(0px 0px 18.9113px rgba(255, 0, 0, 0.7))
    drop-shadow(0px 0px 73.2115px rgba(255, 0, 0, 0.5));
}
.edit-order__icon3 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 41px;
  right: 15px;
  color: var(--color-main);
}
.edit-order__icon4 {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 10px;
}
.edit-order__icon5 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 14px;
  right: 15px;
  color: var(--color-main);
}
.edit-order__icon6 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 13px;
  left: 15px;
  color: var(--color-main);
  z-index: 10;
}
.edit-order__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.edit-order__column {
  @include flex(flex, none, none, column, none);
  border: none;
  width: 100%;
}
.edit-order__column2 {
  @include flex(flex, none, none, column, none);
  border: none;
  width: 88%;
}
.edit-order__column3 {
  @include flex(flex, none, none, column, none);
  border: none;
  width: 82%;
}
.edit-order__column:last-child {
  width: 69%;
}
.edit-order__column:not(:last-child) {
  margin-right: 10px;
}
.edit-order__name {
  @include font(15px, 18px, 400);
  color: var(--color-second);
  margin-bottom: 10px;
}
.edit-order__label {
  @include flex(flex, center, none, column, none);
}
.edit-order__label2 {
  max-width: 300px;
  position: relative;
  @include flex(flex, center, none, column, none);
}
.edit-order__label3 {
  @include flex(flex, center, flex-start, none, none);
}
.edit-order__label3:not(:last-child) {
  margin-bottom: 25px;
}
.edit-order__label-counter {
  margin-top: 16px;
}
.edit-order__label-counter > .edit-order__name {
  margin-bottom: 10px;
  display: block;
}
.edit-order__label--position {
  position: absolute;
  right: 150px;
  @include media($lg) {
    right: 30px;
  }
}
.edit-order__inputs {
  margin-bottom: 25px;
}
.edit-order__input {
  padding: 16px 20px;
  @include font(15px, 18px, 400);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  border: none;
  margin-bottom: 25px;
  width: 300px;
  position: relative;
}

.edit-order__input1 {
  padding: 16px 50px 16px 20px;
  @include font(15px, 18px, 400);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  border: none;
  margin-bottom: 25px;
  width: 300px;
  position: relative;
}
.edit-order__input2 {
  padding: 17px 50px 17px 55px;
  @include font(15px, 18px, 400);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  border: none;
  width: 300px;
  position: relative;
}
.edit-order__input3 {
  padding: 16px 20px 16px 55px;
  @include font(15px, 18px, 400);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  border: none;
  width: 300px;
  position: relative;
}
.edit-order__select {
  padding: 16px 20px;
  @include font(15px, 18px, 400);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  border: none;
  margin-bottom: 25px;
  max-width: 300px;
}
.edit-order__select-mb {
  margin-bottom: 10px;
}
.edit-order__row {
  @include flex(flex, none, none, none, wrap);
  margin-bottom: 35px;
}

.edit-order__check {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.edit-order__check-pseudo {
  flex-shrink: 0;
  padding: 13px 15px;
  display: block;
  background-color: transparent;
  @include flex(flex, none, center, none, none);
  cursor: pointer;
  transition: 0.2s ease;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  @include font(15px, 18px, 600);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
}
.edit-order__checked {
  margin-bottom: 10px;
}
.edit-order__checked:not(:last-child) {
  margin-right: 10px;
}
.edit-order__check-pseudo > .edit-order__icon-check {
  display: none;
}
.edit-order__icon-btn {
  --svgColor: url("#gradient1");
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.edit-order__icon-check {
  color: var(--color-main);
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.edit-order__check:checked ~ .edit-order__check-pseudo {
  background: var(--bg-main);
}
.edit-order__check:checked ~ .edit-order__check-pseudo > .edit-order__icon-check {
  display: block;
}
.edit-order__check:checked ~ .edit-order__check-pseudo > .edit-order__icon-btn {
  display: none;
}
.switch {
  @include flex(flex, none, center, none, none);
}
.edit-order__switch:not(:last-child) {
  margin-bottom: 25px;
}
.switch__name {
  @include font(15px, 18px, 600);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  margin-left: 60px;
  white-space: nowrap;
  @include flex(flex, none, center, none, none);
}
.edit-order__flex {
  @include flex(flex, none, none, none, none);
  position: relative;
}
.edit-order__flex > .edit-order__wrap-img {
  margin-right: 15px;
}
.edit-order__flex-mb {
  margin-bottom: 25px;
}
.edit-order__wrap-img {
  position: relative;
  margin-right: 25px;
}
.edit-order__img {
  border-radius: 15px;
  display: block;
  object-fit: cover;
}
.edit-order__btn {
  top: -16px;
  right: -11px;
  position: absolute;
  cursor: pointer;
  border: none;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  @include font(15px, 18px, 600);
  color: var(--color-main);
  @include flex(flex, center, center, none, none);
  padding: 5px;
}

.edit-order__btn2 {
  cursor: pointer;
  border: none;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  @include font(15px, 18px, 600);
  color: var(--color-main);
  @include flex(flex, none, center, none, none);
  padding: 13px 20px;
  width: 278px;
  margin-top: 17px;
}
.edit-order__btn3 {
  cursor: pointer;
  border: none;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  @include font(15px, 18px, 600);
  color: var(--color-main);
  @include flex(flex, none, center, none, none);
  padding: 16px 20px;
  width: 170px;
  margin-left: 10px;
}
.edit-order__btn4 {
  cursor: pointer;
  border: none;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  @include font(15px, 18px, 600);
  color: var(--color-main);
  @include flex(flex, none, center, none, none);
  padding: 13px 17px;
  width: 170px;
  text-decoration: none;
}
.edit-order__btn5 {
  cursor: pointer;
  border: none;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  @include font(15px, 18px, 600);
  color: var(--color-main);
  @include flex(flex, none, center, none, none);
  padding: 13px 17px;
  width: 233px;
  text-decoration: none;
  margin-bottom: 25px;
}
.edit-order__btn6 {
  top: -16px;
  right: -11px;
  position: absolute;
  cursor: pointer;
  border: none;
  @include wrap(var(--bg-color2), var(--box-shadow19), 10px);
  @include font(15px, 18px, 600);
  color: var(--color-main);
  @include flex(flex, center, center, none, none);
  padding: 5px;
}
.edit-order__btn5:not(:last-child) {
  margin-right: 10px;
}
.edit-order__btn5 > .edit-order__icon {
  margin-right: 10px;
  margin-left: 0;
}
.edit-order__btn4:not(:last-child) {
  margin-right: 10px;
}
.edit-order__btn4 > .edit-order__icon {
  margin-right: 10px;
  margin-left: 0;
}
.edit-order__btn2 > .edit-order__icon {
  margin-right: 10px;
  margin-left: 0;
}
.edit-order__close {
  width: 24px;
  height: 24px;
}
.edit-order__file-btn {
  cursor: pointer;
  max-width: 100px;
  height: 100px;
  padding: 14px 24px;
  @include wrap(var(--bg-color2), var(--box-shadow19), 10px);
  @include flex(flex, center, center, none, none);
}
.edit-order__file-btn2 {
  cursor: pointer;
  max-width: 100px;
  height: 100px;
  padding: 14px 24px;
  @include wrap(var(--bg-color4), var(--box-shadow21), 10px);
  @include flex(flex, center, center, none, none);
}
.edit-order__wrap-btn {
  @include flex(flex, center, center, column, none);
}
.edit-order__open {
  width: 24px;
  height: 24px;
  color: var(--color-main);
  margin-bottom: 10px;
}
.edit-order__open2 {
  width: 24px;
  height: 24px;
  color: var(--color-second);
  margin-bottom: 10px;
}
.edit-order__text-up {
  @include font(15px, 18px, 600);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
}
.edit-order__text-up2 {
  @include font(15px, 18px, 600);
  color: var(--color-second);
  font-feature-settings: "pnum" on, "lnum" on;
}
.edit-order__form {
  @include flex(flex, none, none, none, wrap);
  margin-top: 10px;
}
.edit-order__form1 {
  @include flex(flex, none, none, none, wrap);
}
// .edit-order__form1:not(:last-child) {
// margin-bottom: 25px;
// }
.edit-order__form > .form__wrap {
  background: transparent !important;
  box-shadow: none;
}

.edit-order__buttom {
  @include flex(flex, center, center, none, none);
  cursor: pointer;
  @include wrap(var(--bg-main), var(--box-shadow1), 15px);
  color: var(--color-main);
  border: none;
  width: 50px;
  height: 50px;
}
.edit-order__buttom-icon {
  width: 24px;
  height: 24px;
  color: var(--color-main);
}
.edit-order__textarea {
  @include font(15px, 18px, 400);
  color: var(--color-main);
  width: 300px;
  height: 100px;
  border: none;
  background: var(--bg-color4);
  box-shadow: 0 0;
  border-radius: 15px;
  // border: 0.5px solid var(--bg-line2);
  padding: 16px 20px;
  resize: none;
  font-feature-settings: "pnum" on, "lnum" on;
  margin-bottom: 25px;
  text-align: start;
}
.edit-order__textarea2 {
  @include font(15px, 18px, 400);
  color: var(--color-main);
  width: 300px;
  height: 100px;
  border: none;
  background: var(--bg-color4);
  box-shadow: 0 0;
  border-radius: 15px;
  padding: 16px 20px;
  resize: none;
  font-feature-settings: "pnum" on, "lnum" on;
  text-align: start;
}
.edit-order__textarea3 {
  @include font(15px, 18px, 400);
  color: var(--color-main);
  width: 300px;
  height: 70px;
  border: none;
  background: var(--bg-color4);
  box-shadow: 0 0;
  border-radius: 15px;
  padding: 16px 20px;
  resize: none;
  font-feature-settings: "pnum" on, "lnum" on;
  text-align: start;
  margin-bottom: 25px;
}
.edit-order__btn-sub {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
  flex-wrap: none;
  background: var(--bg-color23);
  border: var(--bg-color23);
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  @include font(15px, 18px, 400);
  color: var(--color-main);
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 198px;
}
.edit-order__sub {
  width: 24px;
  height: 24px;
}
.edit-order__button {
  padding: 16px 21px 16px 20px;
  background: var(--bg-color4);
  box-shadow: 0 0;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 25px;
}
.edit-order__flex-input {
  @include flex(flex, none, none, none, none);
  width: 300px;
  position: relative;
}
.switch__icon {
  width: 24px;
  height: 24px;
  display: block;
  --svgColor: url("#gradient2");
  margin-left: 10px;
}
.edit-order__input-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 10px;
  color: var(--color-main);
  @include font(15px, 18px, 600);
  font-feature-settings: "pnum" on, "lnum" on;
  padding-left: 10px;
  border-left: 1px solid #292929;
}
.edit-order__form-wrap {
  margin-bottom: 25px;
  width: 300px;
  @include flex(flex, none, none, none, nowrap);
}
.edit-order__bottom {
  @include flex(flex, none, none, column, none);
  margin-top: 120px;
}
.edit-order__bottom2 {
  margin-top: 50px;
}
.edit-order__dashed {
  @include flex(flex, space-between, center, none, none);
  border: 1px dashed #292929;
  border-radius: 20px;
  padding: 30px 25px;
}
.edit-order__profile > .profile__wrap {
  @include flex(flex, none, none, column, none);
  max-width: 240px;
}
.edit-order__btns {
  @include flex(flex, none, center, none, none);
  margin-bottom: 25px;
}
.edit-order__btn-next {
  @include flex(flex, space-between, center, none, none);
  @include wrap(var(--bg-main), var(--box-shadow1), 15px);
  cursor: pointer;
  padding: 13px 20px;
  border: none;
  @include font(15px, 18px, 600);
  color: var(--color-main);
  margin-bottom: 30px;
  max-width: 248px;
  text-decoration: none;
}
.edit-order__btn-next2 {
  @include flex(flex, space-between, center, none, none);
  @include wrap(var(--bg-main), var(--box-shadow1), 15px);
  cursor: pointer;
  padding: 13px 20px;
  border: none;
  @include font(15px, 18px, 600);
  color: var(--color-main);
  margin-bottom: 30px;
  max-width: 348px;
  text-decoration: none;
}
.edit-order__btns > .edit-order__btn-next2 > .edit-order__icon {
  transform: rotate(180deg);
}
.edit-order__btns > .edit-order__btn-next > .edit-order__icon {
  transform: rotate(180deg);
}
.edit-order__btn-back {
  @include flex(flex, space-between, center, none, none);
  @include wrap(var(--bg-color4), 0 0 0 0, 15px);
  cursor: pointer;
  padding: 13px 20px;
  border: none;
  @include font(15px, 18px, 600);
  color: var(--color-second);
  margin-right: 10px;
  margin-bottom: 30px;
}
.edit-order__btn-back > .edit-order__icon {
  margin-left: 0;
  margin-right: 10px;
}
.edit-order__profile > .profile__button:first-child {
  margin-right: 10px;
}
.wrap > .edit-order {
  margin-right: 0;
}
.edit-order__doc {
  padding: 25px;
  background: var(--bg-color33);
  @include wrap(var(--bg-color33), var(--box-shadow21), 15px);
  // @include font(24px, 28px, 700);
  color: #000;
  margin-bottom: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 600px;
  overflow-y: scroll;
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarBg);
  border: var(--scrollbarBorder);
}
.edit-order__doc::-webkit-scrollbar {
  width: var(--scrollbarWidth);
  border: var(--scrollbarBorder);
}
.edit-order__doc::-webkit-scrollbar-track {
  background: var(--scrollbarBg);
  border: var(--scrollbarBorder);
}
.edit-order__doc::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border: var(--scrollbarBorder);
}
.edit-order__theme {
  border-radius: 15px;
  display: block;
  width: 100%;
}
.edit-order__wrapper-counter {
  @include flex(flex, none, none, none, none);
}
.edit-order__counter {
  width: 100px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  background: var(--bg-color4);
  border: none;
  @include font(15px, 18px, 600);
  color: var(--color-main);
  cursor: pointer;
  font-feature-settings: "pnum" on, "lnum" on;
}

.edit-order__counter,
.edit-order__decrement,
.edit-order__increment {
  height: 50px;
  user-select: none;
}

.edit-order__decrement,
.edit-order__increment {
  @include flex(flex, center, center, none, none);
  width: 40px;
  @include font(15px, 18px, 600);
  color: var(--color-main);
  cursor: pointer;
  font-feature-settings: "pnum" on, "lnum" on;
}
.edit-order__decrement {
  border-right: none;
  border-radius: 15px 0 0 15px;
  background: var(--bg-color4);
}

.edit-order__increment {
  border-left: none;
  border-radius: 0 15px 15px 0;
  background: var(--bg-color4);
}
/* Современные браузеры
   ----------------------------  */
.edit-order__input1::placeholder {
  color: var(--color-main);
  opacity: 1;
}

/* WebKit, Edge
        ----------------------------  */
.edit-order__input1::-webkit-input-placeholder {
  color: var(--color-main);
  opacity: 1;
}

/* Edge
        ----------------------------  */
.edit-order__input1::-ms-input-placeholder {
  color: var(--color-main);
  opacity: 1;
}

/* Firefox 4-18
        ----------------------------  */
.edit-order__input1:-moz-placeholder {
  color: var(--color-main);
  opacity: 1;
}

/* Firefox 19+
        ----------------------------  */
.cedit-order__input1::-moz-placeholder {
  color: var(--color-main);
  opacity: 1;
}

/* IE 10-11
        ----------------------------  */
.edit-order__input1:-ms-input-placeholder {
  color: var(--color-main);
  opacity: 1;
}
/* Современные браузеры
     ----------------------------  */
.edit-order__input::placeholder {
  color: var(--color-main);
  opacity: 1;
}

/* WebKit, Edge
          ----------------------------  */
.edit-order__input::-webkit-input-placeholder {
  color: var(--color-main);
  opacity: 1;
}

/* Edge
          ----------------------------  */
.edit-order__input::-ms-input-placeholder {
  color: var(--color-main);
  opacity: 1;
}

/* Firefox 4-18
          ----------------------------  */
.edit-order__input:-moz-placeholder {
  color: var(--color-main);
  opacity: 1;
}

/* Firefox 19+
          ----------------------------  */
.edit-order__input::-moz-placeholder {
  color: var(--color-main);
  opacity: 1;
}

/* IE 10-11
          ----------------------------  */
.edit-order__input:-ms-input-placeholder {
  color: var(--color-main);
  opacity: 1;
}
