.financial-indicators {
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  margin-bottom: 22px;
  padding: 11px 26px 25px 25px;
}
.financial-indicators__wrap {
  @include flex(flex, none, center, none, none);
  margin-bottom: 12px;
}
.financial-indicators__title {
  margin-right: auto;
}
.financial-indicators__date {
  @include wrap(var(--bg-color4), var(--box-shadow21), 10px);
}

.chartjs-render-monitor {
  padding: 25px 25px 0 0;
  @include wrap(var(--bg-color4), var(--box-shadow21), 20px);
  margin-bottom: 31px;
  @include media($lg) {
    width: 100% !important;
  }
}
.financial-indicators__slider {
  margin-bottom: 0;
  align-items: flex-start;
}
.financial-indicators__slider > .slider__column:first-child {
  flex-grow: 0;
  margin-right: 59px;
}
.financial-indicators__slider > .slider__column {
  margin-right: 0;
}
.financial-indicators__slider > .slider__column > .slider__text {
  margin-bottom: 15px;
}
.financial-indicators__slider > .slider__swiper {
  margin-left: 10px !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}
.financial-indicators__slider
  > .slider__swiper
  > .swiper-wrapper
  .slider__wrap {
  margin-bottom: 0 !important;
}
