.form {
  position: relative;
}
.form__wrapper {
  @include flex(flex, flex-start, center, none, none);
  margin-top: 25px;
  margin-bottom: 30px;
}
.form__wrapper2 {
  @include flex(flex, none, flex-start, column, none);
}
.form__wrapper--pd {
  margin-top: 19px;
  margin-bottom: 26px;
}
.form__title {
  @include font(18px, 21px, 700);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
}
.form__wrap {
  position: relative;
  background: var(--bg-color5);
  box-shadow: var(--box-shadow3);
}
.form__wrap2 {
  position: relative;
  @include wrap(var(--bg-color4), var(--box-shadow21), 0);
  border: 5px solid transparent;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.form__wrap2:first-child {
  position: relative;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px 0 0 15px);
}
.form__wrap2:last-child {
  position: relative;
  @include wrap(var(--bg-color4), var(--box-shadow21), 0 15px 15px 0);
}
.form__wrap3 {
  background: var(--bg-color5);
  box-shadow: var(--box-shadow3);
  border: 5px solid transparent;
  position: relative;
  @include wrap(var(--bg-color5), var(--box-shadow3), 0);
}
.form__wrap3:first-child {
  @include wrap(var(--bg-color5), var(--box-shadow3), 15px 0 0 15px);
}
.form__wrap3:last-child {
  @include wrap(var(--bg-color5), var(--box-shadow3), 0 15px 15px 0);
}
.form__wrap4 {
  position: relative;
  @include wrap(var(--bg-color17), var(--box-shadow21), 0);
  border: 5px solid transparent;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.form__wrap5 {
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
}
.form__wrapper .form__wrap3:not(:first-child):after {
  position: absolute;
  content: " ";
  top: 8px;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 24px;
  background: #292929;
  left: 0;
}

.form__swiper-slide1 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px;
}
.form__submit-button {
  position: absolute;
  top: 22px;
  left: 23px;
}
.form__submit-img {
  display: block;
  height: 20px;
  width: 20px;
}
.form__check {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.form__pseudo {
  flex-shrink: 0;
  @include font(15px, 17px, 600);
  // color: var(--color-main);
  background: transparent;
  @include flex(flex, center, center, none, none);
  cursor: pointer;
  transition: 0.2s ease;
  border: none;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 14px;
  border-right: 15px;
  color: var(--color-second);
  height: 40px;
  flex-shrink: 0;
}
.form__pseudo-height {
  padding: 16px 20px;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  margin-right: 10px;
  margin-bottom: 10px;
  color: var(--color-main);
  height: 50px;
  @include flex(flex, none, center, none, none);
  font-feature-settings: "pnum" on, "lnum" on;
}
.form__pseudo1 {
  padding: 29px 25px;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  color: var(--color-main);
  @include flex(flex, none, center, column, none);
  cursor: pointer;
}
.form__pseudo2 {
  padding: 17px 15px 20px 15px;
  @include wrap(var(--bg-color4), var(--box-shadow21), 20px);
  color: var(--color-main);
  @include flex(flex, none, none, none, none);
  cursor: pointer;
  width: 373px;
}
.form__pseudo3 {
  flex-shrink: 0;
  @include font(15px, 17px, 600);
  background: transparent;
  @include flex(flex, flex-start, center, none, none);
  cursor: pointer;
  transition: 0.2s ease;
  border: none;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 14px;
  border-right: 15px;
  color: var(--color-second);
  height: 44px;
  flex-shrink: 0;
  width: 280px;
}
.form__pseudo4 {
  flex-shrink: 0;
  @include font(15px, 17px, 600);
  @include flex(flex, flex-start, center, none, none);
  cursor: pointer;
  transition: 0.2s ease;
  border: none;
  padding: 10px;
  color: var(--color-main);
  flex-shrink: 0;
}
.form__pseudo5 {
  padding: 13px 25px 20px;
  @include wrap(var(--bg-color4), var(--box-shadow21), 15px);
  color: var(--color-main);
  @include flex(flex, none, center, column, none);
  cursor: pointer;
}
.form__wrap:first-child {
  border-radius: 15px 0 0 15px;
}
.form__wrap:last-child {
  border-radius: 0 15px 15px 0;
}
.form__img {
  height: 24px;
  width: 24px;
  display: block;
  --svgColor: url("#gradient1");
  margin-left: 16px;
}
.form__img2 {
  height: 24px;
  width: 24px;
  display: block;
  --svgColor: url("#gradient1");
  margin-right: 16px;
}
.form__img3 {
  height: 24px;
  width: 24px;
  display: block;
  --svgColor: url("#gradient1");
  margin-right: 10px;
}
.form__img4 {
  height: 24px;
  width: 24px;
  display: block;
  --svgColor: url("#gradient14");
  margin-right: 10px;
  filter: drop-shadow(0px 10px 25px rgba(0, 133, 255, 0.3));
}
.form__img5 {
  height: 24px;
  width: 24px;
  display: block;
  --svgColor: url("#gradient1");
}
.form__check:focus ~ .form__pseudo {
  @include wrap(var(--bg-main), var(--box-shadow1), 15px);
  color: var(--color-main);
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 14px;
}
.form__check:focus ~ .form__pseudo1 {
  @include wrap(var(--bg-main), var(--box-shadow1), 20px);
  color: var(--color-main);
  padding: 29px 25px;
}
.form__check:focus ~ .form__pseudo2 {
  @include wrap(var(--bg-main), var(--box-shadow1), 15px);
  color: var(--color-main);
  padding: 17px 15px 20px 15px;
}
.form__check:focus ~ .form__pseudo3 {
  @include wrap(var(--bg-main), var(--box-shadow1), 15px);
  color: var(--color-main);
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 14px;
  width: 280px;
  height: 44px;
}
.form__check:focus ~ .form__pseudo4 {
  @include wrap(var(--bg-main), var(--box-shadow1), 15px);
  color: var(--color-main);
  padding: 10px;
}
.form__check:focus
  ~ .form__pseudo2
  > .form__profile
  > .profile__wrap
  > .profile__title {
  color: var(--color-main);
}
.form__check:focus ~ .form__pseudo2 > .form__time {
  color: var(--color-main);
}
.form__check:focus ~ .form__pseudo-height {
  @include wrap(var(--bg-main), var(--box-shadow1), 15px);
  color: var(--color-main);
  padding: 16px 20px;
  height: 50px;
}
.form__check:focus ~ .form__pseudo-height > .form__img4 {
  --svgColor: var(--color-main);
}
.form__slider {
  margin-right: 30px !important;
  @include wrap(var(--bg-color5), var(--box-shadow3), 15px);
  padding: 25px;
  margin-bottom: 80px;
}
.form__progress {
  margin-bottom: 22px;
}
.form__pseudo1 > .form__icon {
  margin-bottom: 10px;
}
.form__pseudo-height > .form__icon {
  margin-right: 10px;
}
.form__icon {
  width: 24px;
  height: 24px;
}
.form__icon2 {
  width: 30px;
  height: 30px;
}
.form__text {
  @include font(15px, 18px, 600);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  white-space: nowrap;
}
.form__profile > .profile__wrap-img {
  margin-right: 10px;
}
.form__time {
  @include font(15px, 18px, 400);
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--color-second);
  margin-left: auto;
}
.form__profile > .profile__wrap {
  max-width: 228px;
}
.form--bg {
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  padding: 25px;
  max-width: 330px;
}
.form--bg > .form__title {
  margin-bottom: 25px;
}
.form__wrapper2 > .form__wrap3:not(:last-child) {
  margin-bottom: 10px;
}
// select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }

// select::-ms-expand {
//   display: none;
// }
.form__wrap-icon {
  width: 50px;
  height: 50px;
  @include wrap(var(--bg-color17), var(--box-shadow21), 15px);
  margin-bottom: 15px;
  @include flex(flex, center, center, none, none);
}
