.grid {
  display: grid;
  grid-template-areas: "header header" " menu container";
  grid-template-columns: 319px auto;
}
.grid--reverse {
  grid-template-columns: auto 21%;
}
.flex {
  @include flex(flex, space-between, center, none, none);
}
.grid2 {
  display: grid;
  grid-template-columns: auto auto;
}
.grid--active {
  grid-template-columns: 104px auto;
}
