.grid{
    // display: grid;
    // grid-template-columns: 330px 1600px;
    // justify-content: center;
    // grid-gap: 95px;
    display: grid;
    grid-template-areas: 'header header' ' menu container' ;
    grid-template-columns: 330px auto ;
}