.grid {
  display: grid;
  grid-template-areas: "header header" " menu container";
  grid-template-columns: 319px auto;
}
.grid--reverse {
  grid-template-columns: auto 21%;
}
.flex {
  @include flex(flex, space-between, center, none, none);
}
.grid2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0 30px;
}
.grid3 {
  display: grid;
  grid-template-columns: auto auto;
  align-items: flex-start;
  grid-gap: 0 30px;
  justify-content: space-between;
}
.grid4 {
  display: grid;
  grid-template-columns: 370px auto;
  grid-gap: 0 30px;
  justify-content: space-between;
}
.grid5 {
  display: grid;
  grid-template-columns: 330px auto;
  grid-gap: 0 30px;
  justify-content: space-between;
}
.grid6 {
  display: grid;
  grid-template-columns: auto 450px;
  justify-content: space-between;
  grid-gap: 30px;
  @include media($lg) {
    grid-template-columns: auto 370px;
  }
}
.grid7 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  grid-gap: 30px;
}
.grid8 {
  display: grid;
  grid-template-columns: auto 450px;
  grid-gap: 30px;
  @include media($lg) {
    grid-template-columns: auto 370px;
  }
}
.grid9 {
  display: grid;
  grid-template-columns: 330px auto;
  grid-gap: 0 30px;
}
.grid10 {
  display: grid;
  grid-template-columns: 49% 50%;
  grid-gap: 0 30px;
}
.grid11 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0 30px;
  align-items: flex-start;

}
.grid--active {
  grid-template-columns: 104px auto;
}
