.header {
  background-color: var(--bg-color3);
  backdrop-filter: blur(40px);
  padding-top: 20px;
  padding-bottom: 22px;
  position: sticky;
  top: 0;
  z-index: 10;
  @include flex(flex, space-between, center, none, none);
  flex-grow: 1;
  grid-area: header;
  position: sticky;
  top: 0;
}
.header__wrap {
  @include flex(flex, center, center, none, none);
}
// .header__wrap > .header__date{
//   margin-left: 10px;
// }
.header__subtitle {
  @include font(15px, 18px, 500);
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--color-main);
  margin-right: 18px;
  margin-top: 10px;
}
.header__title {
  margin-right: 16px;
}
.header__title1 {
  margin-right: 6px;
}
.header__title2{
  margin-right: 6px;
  max-width: 750px;
  @include font(24px, 29px, 800, $ff:'Gilroy');
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--color-main);
}
.header__form {
  width: 280px;
}
.header__form:not(:last-child) {
  margin-right: 15px;
}
.header__back {
  @include flex(flex, space-between, center, none, none);
  background: var(--bg-main);
  box-shadow: var(--box-shadow1);
  border-radius: 15px;
  cursor: pointer;
  padding: 13px 20px;
  border: none;
  @include font(15px, 18px, 600);
  color: var(--color-main);
  margin-right: 20px;
}
.header__icon{
  width: 24px;
  height: 24px;
  color: var(--color-main);
  margin-right: 10px;
}