.header {
  background-color: var(--bg-color3);
  backdrop-filter: blur(40px);
  padding-top: 29px;
  padding-bottom: 26px;
  position: sticky;
  top: 0;

  z-index: 10;
  @include flex(flex, space-between, center, none, none);
  flex-grow: 1;

  grid-area: header;
  position: sticky;
  top: 0;
}

.header__wrap {
  @include flex(flex, center, center, none, none);
}

.header__title {
  margin-bottom: 10px;
}
.header__subtitle {
  @include font(15px, 18px, 500);
  font-feature-settings: "pnum" on, "lnum" on;
  color: var(--color-main);
  margin-right: 20px;
}
.header__title {
  margin-right: 20px;
}

.header__form {
  margin-right: 15px;
}
