.info-order {
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  padding: 25px;
}
.info-order__title {
  @include font(18px, 21px, 700, var(--second-family));
  color: var(--color-main);
  margin-bottom: 25px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.info-order__wrap {
  @include wrap(var(--bg-color4), var(--box-shadow21), 20px);
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.info-order__wrap:not(:last-child) {
  margin-bottom: 25px;
}
.info-order__wrap2 {
  @include wrap(var(--bg-color4), var(--box-shadow21), 20px);
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.info-order__wrap2:not(:last-child) {
  margin-bottom: 25px;
}
.info-order__name {
  @include font(15px, 18px, 400);
  color: var(--color-second);
  font-feature-settings: "pnum" on, "lnum" on;
  white-space: nowrap;
}
.info-order__name:not(:last-child) {
  margin-bottom: 22px;
}
.info-order__important {
  @include font(15px, 18px, 600);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
}
.info-order__important:not(:last-child) {
  margin-bottom: 22px;
}
.info-order__mail {
  @include font(15px, 18px, 600);
  font-feature-settings: "pnum" on, "lnum" on;
  background: var(--bg-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 22px;
}
.info-order__img {
  display: block;
  border-radius: 15px;
}
.info-order__popular-categories {
  @include flex(flex, none, none, none, none);
  padding: 0 !important;
}
.info-order__popular-categories > .popular-categories__wrap-img3 {
  margin-right: 20px;
}
.info-order__popular-categories
  > .popular-categories__wrap
  > .popular-categories__name {
  margin-bottom: 5px;
}
.info-order__popular-categories
  > .popular-categories__wrap
  > .popular-categories__subtitle {
  margin-top: 0;
}
