.logo {
  // width: 210px;
  display: flex;
  position: relative;
}
.logo__img {
  display: block;
  width: 118px;
  height: 100px;
  --svgColor: url("#gradient5");
  color: var(--color-main);
  filter: drop-shadow(0px 8px 30px rgba(0, 133, 255, 0.9));
}
.logo__img-name {
  position: absolute;
  width: 143px;
  height: 80px;
  display: block;
  color: var(--color-main);
  left: 76px;
}
