.logo {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 27px;
}
.logo__img {
  display: block;
  width: 58px;
  height: 40px;
  --svgColor: url("#gradient5");
  color: var(--color-main);
  filter: drop-shadow(0px 8px 30px rgba(0, 133, 255, 0.9));
}
.logo__img-name {
  width: 83px;
  height: 20px;
  display: block;
  color: var(--color-main);
  margin-left: 18px;
}
.logo__img-name--active {
  display: none !important;
}