.menu {
  padding: 0px 30px 27px;
  // background-color: var(--bg-box);
  top: 0;
  position: sticky;
  @include wrap(var(--bg-color5), var(--box-shadow3), 0);
  z-index: 11;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: start;

  grid-area: menu;
}
.menu__row {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.menu__row::after {
  content: " ";
  position: absolute;
  left: -30px;
  bottom: 0;
  width: calc(100% + 55px);
  height: 1px;
  background-color: var(--bg-line);
  box-shadow: var(--box-shadow3);
}
.menu::-webkit-scrollbar
{
width: 0px;
height: 0px;
}
.menu::-moz-scrollbar {
  display: none;
}
