.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__wrap {
  padding-left: 10px;
}
.profile__wrap-img {
  box-shadow: var(--box-shadow);
  // background: #1A1A1A;
  margin-right: 15px;
  padding: 8px 11px 18px 13px;
  border-radius: 15px;
}
.profile__wrap-icon {
  @include wrap(var(--bg-color17), var(--box-shadow3), 15px);
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 0;
  flex-shrink: 0;
}
.profile__social{
  width: 18px;
  height: 18px;
  --svgColor: url("#gradient6");
  --svgColor: url("#gradient7");
}
.profile__wrap-img--pd {
  margin-right: 0;
  padding: 0;
}
.profile__wrap-img--rg {
  margin-right: 10px;
  padding: 0;
}
.profile__img {
  display: block;
  width: 50px;
  border-radius: 15px;
  object-fit: none;
  height: auto;
}
.profile__img--position {
  position: absolute;
  top: 5px;
}
.profile__icon {
  height: 24px;
  width: 20px;
  color: var(--color-main);
  position: absolute;
  top: 13px;
  left: 15px;
  z-index: 0;
}
.profile__icon--position {
  height: 23px;
  width: 44px;
  color: var(--bg-color18);
  position: absolute;
  top: 13px;
  left: 0px;
}
.profile__icon--color {
  height: 24px;
  width: 20px;
  color: var(--bg-color19);
  position: absolute;
  top: 13px;
  left: 19px;
}
.profile__title {
  color: var(--color-main);
  @include font(15px, 18px, 600);
  margin-bottom: 10px;
}
.profile__title--hidden {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 132px;
}
.profile__title--bt {
  margin-bottom: 0;
  // max-width: 300px;
  // width: 158px;
}
.profile__title--bt {
  margin-bottom: 10;
  // max-width: 300px;
  // width: 158px;
}
.profile__subtitle {
  color: var(--color-main);
  @include font(15px, 18px, 400);
  background: var(--bg-color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 10px 25px var(--text-shadow);
}
