.progress {
  height: 28px;
  position: relative;
  @include flex(flex, none, center, none, none);
  padding-left: 2px;
  padding-right: 2px;
  @include wrap(var(--bg-color), var(--box-shadow3), 6px);
}
.progress__active {
  width: 13%;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  @include wrap(var(--bg-color2), var(--box-shadow6), 5px);
}
.progress__active2 {
  width: 13%;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  @include wrap(var(--bg-color7), var(--box-shadow5), 5px);
}
.progress__active3 {
  width: 13%;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  @include wrap(var(--bg-color8), var(--box-shadow6), 5px);
}
.progress__active4 {
  width: 13%;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  @include wrap(var(--bg-color10), var(--box-shadow23), 5px);
}
.progress__active5 {
  width: 13%;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  @include wrap(var(--bg-color11), var(--box-shadow22), 5px);
}
.progress__active6 {
  width: 13%;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  @include wrap(var(--bg-color9), var(--box-shadow15), 5px);
}
.progress__active7 {
  width: 13%;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  @include wrap(var(--bg-color13), var(--box-shadow25), 5px);
}
.progress__active8 {
  width: 13%;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  @include wrap(var(--bg-color25), var(--box-shadow22), 5px);
}
.progress__active9 {
  width: 13%;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  @include wrap(var(--bg-color26), var(--box-shadow26), 5px);
}
.progress__active10 {
  width: 13%;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  @include wrap(var(--bg-color27), var(--box-shadow27), 5px);
}
