.slider {
  z-index: 0;
  position: relative;
  align-self: flex-start;
}
.slider--mr {
  margin-right: -40px;
}
.slider__swiper1 {
  // width: 78%;
  margin-right: auto !important;
  margin-left: 0 !important;
}
.slider__title {
  margin-bottom: 25px;
}
.slider__swiper {
  margin: 0 auto;
  margin-bottom: 11px;
}
.slider__slide {
  display: block;
  cursor: pointer;
  width: auto !important;
}
.swiper-slide-box {
  height: 108px !important;
}

.slider__check {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.slider__pseudo11,
.slider__pseudo9,
.slider__pseudo8,
.slider__pseudo7,
.slider__pseudo6,
.slider__pseudo5,
.slider__pseudo4,
.slider__pseudo3,
.slider__pseudo2,
.slider__pseudo1 {
  flex-shrink: 0;
  @include font(15px, 17px, 600);
  color: var(--color-main);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  border: none;
  border-radius: 15px;
  background-color: var(--bg-color4);
  padding: 16px 15px;
}
.slider__pseudo {
  flex-shrink: 0;
  @include font(15px, 17px, 600);
  color: var(--color-main);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  border: none;
  border-radius: 15px;
  background-color: var(--bg-color4);
  padding: 13px;
}

.slider__pseudo--bg {
  background-color: var(--bg-color5);
}
.slider__img {
  height: 24px;
  width: 24px;
  display: block;
  --svgColor: url("#gradient7");
  filter: drop-shadow(0px 10px 25px #0085ff);
}
.slider__img2 {
  height: 24px;
  width: 24px;
  display: block;
  --svgColor: url("#gradient2");
  filter: drop-shadow(0px 10px 25px #ed3956);
}
.slider__img3 {
  height: 24px;
  width: 24px;
  display: block;
  --svgColor: url("#gradient3");
  filter: drop-shadow(0px 10px 25px #ffa520);
}
.slider__img5 {
  height: 24px;
  width: 24px;
  display: block;
  color: var(--color-main);
}
.slider__img6 {
  position: relative;
  height: 24px;
  width: 24px;
  display: block;
  --svgColor: url("#gradient8");
  filter: drop-shadow(0px 10px 25px #ff010d);
}
.slider__img7 {
  position: relative;
  height: 24px;
  width: 24px;
  --svgColor: url("#gradient9");
  display: block;
  filter: drop-shadow(0px 10px 25px #4bbd6d);
}
.slider__img8 {
  position: relative;
  height: 24px;
  width: 24px;
  --svgColor: url("#gradient14");
  display: block;
  filter: drop-shadow(0px 10px 25px #00ff94);
}

.slider__img6:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  filter: drop-shadow(0px 10px 25px #ff010d);
}
.slider__circl {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
}
.slider__circl1 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color9), var(--box-shadow7), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl2 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color10), var(--box-shadow8), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl3 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color11), var(--box-shadow9), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl4 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color12), var(--box-shadow10), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl5 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color13), var(--box-shadow11), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl6 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color14), var(--box-shadow12), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl7 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color15), var(--box-shadow13), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl8 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color16), var(--box-shadow14), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl9 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color21), var(--box-shadow8), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl10 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color20), var(--box-shadow14), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl11 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color29), var(--box-shadow35), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__circl12 {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  @include wrap(var(--bg-color25), var(--box-shadow38), 100px);
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__bg {
  background: var(--bg-color17);
  box-shadow: var(--box-shadow21);
  border-radius: 15px;
}
.slider__check:checked ~ .slider__pseudo {
  @include wrap(var(--bg-main), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo > .slider__img {
  --svgColor: var(--bg-color33);
}
.slider__check:checked ~ .slider__pseudo > .slider__img2 {
  --svgColor: var(--bg-color33);
}
.slider__check:checked ~ .slider__pseudo > .slider__circl {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  position: relative;
  z-index: 10;
}
.slider__check:checked ~ .slider__pseudo1 {
  @include wrap(var(--bg-color9), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo1 > .slider__circl1 {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__check:checked ~ .slider__pseudo2 {
  @include wrap(var(--bg-color10), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo2 > .slider__circl2 {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__check:checked ~ .slider__pseudo3 {
  @include wrap(var(--bg-color11), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo3 > .slider__circl3 {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__check:checked ~ .slider__pseudo4 {
  @include wrap(var(--bg-color12), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo4 > .slider__circl4 {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__check:checked ~ .slider__pseudo5 {
  @include wrap(var(--bg-color13), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo5 > .slider__circl5 {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__check:checked ~ .slider__pseudo6 {
  @include wrap(var(--bg-color14), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo6 > .slider__circl6 {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__check:checked ~ .slider__pseudo7 {
  @include wrap(var(--bg-color15), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo7 > .slider__circl7 {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__check:checked ~ .slider__pseudo8 {
  @include wrap(var(--bg-color16), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo8 > .slider__circl8 {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}
.slider__check:checked ~ .slider__pseudo9 {
  @include wrap(var(--bg-color21), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo9 > .slider__circl9 {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}

.slider__check:checked ~ .slider__pseudo11 {
  @include wrap(var(--bg-color29), 0 0 0 0, 15px);
}
.slider__check:checked ~ .slider__pseudo11 > .slider__circl11 {
  @include wrap(var(--color-main), var(--box-shadow3), 0);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 10px;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}

.slider__inputs {
  @include wrap(var(--bg-color4), var(--box-shadow3), 20px);
  margin-bottom: 30px;
  padding: 25px;
}
.slider__title {
  margin-bottom: 25px;
}
.slider__wrapper-flex {
  @include flex(flex, none, center, none, wrap);
  width: 87%;
}
.slider__flex {
  @include flex(flex, none, center, none, wrap);
}
.slider__wrap:nth-child(3) {
  margin-right: 137px !important;
}
.slider__wrap {
  @include flex(flex, none, center, none, none);
  margin-bottom: 10px;
}
.slider__wrap:not(:last-child) {
  margin-right: 10px;
}
.slider__flex > .slider__wrap:nth-child(3) {
  margin-right: 10px !important;
}
.slider__wrap > .slider__text {
  margin-right: 10px;
}
.slider__text {
  @include font(15px, 17px, 600);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
}
.slider__text2 {
  @include font(15px, 18px, 500);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  align-self: last baseline;
  margin-bottom: 10px;
  margin-left: 10px;
}
.slider__pseudo > .slider__text {
  margin-left: 10px;
}
.slider__number {
  @include font(44px, 54px, 800, $ff: "Gilroy");
  color: var(--color-main);
}
.slider__number2 {
  @include font(56px, 68px, 800, $ff: "Gilroy");
  color: var(--color-main);
  white-space: nowrap;
}
.slider__flex1 {
  @include wrap(var(--bg-color4), var(--box-shadow3), 20px);
  padding: 25px;
  @include flex(flex, space-between, center, none, none);
  margin-bottom: 25px;
}
.slider__flex2 {
  @include wrap(var(--bg-color5), var(--box-shadow21), 20px);
  padding: 25px;
  @include flex(flex, none, flex-start, column, none);
  margin-bottom: 13px;
  margin-top: 21px;
}
.slider__flex2 > .slider__column {
  margin-right: 0;
  width: 100%;
}
.slider__flex2 > .slider__column > .slider__text {
  margin-bottom: 16px;
}
.slider__column {
  flex-grow: 1;
  margin-right: 39px;
}
.slider__btn {
  @include flex(flex, space-between, center, none, none);
  @include wrap(var(--bg-main), var(--box-shadow1), 15px);
  cursor: pointer;
  padding: 13px 20px;
  border: none;
  @include font(15px, 18px, 600);
  color: var(--color-main);
  position: absolute;
  bottom: -80px;
  left: 0;
}
.slider__icon {
  width: 24px;
  height: 24px;
  color: var(--color-main);
  margin-right: 10px;
}
.slider__slide--lf {
  padding-left: 10px;
  position: relative;
}
.slider__slide--lf:after {
  position: absolute;
  content: " ";
  top: 14px;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 24px;
  background: #292929;
  left: 0;
}
.slider__progress {
  margin-bottom: 16px;
}
.slider--top {
  margin-top: 23px;
}
.slider__search {
  margin-bottom: 25px;
}
.slider__search > .search__input {
  background: var(--bg-color5);
}
@include media($lm) {
  .slider--mr {
    margin-right: 0;
  }
}
