.statistic {
  padding-top: 12px;
  position: relative;
  margin-bottom: 50px;
  flex-grow: 1;
  @include flex(flex, none, none, none, none);
}
.statistic > .statistic__box {
  margin-left: 30px;
}
.statistic__swiper-wrapper {
  max-width: 600px;
}
.statistic__wrap {
  flex-grow: 1;
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  padding: 25px !important;
}
.statistic__wrap1 {
  @include flex(flex, space-between, center, none, none);
  flex-grow: 1;
}
.statistic__grid {
  display: grid;
  grid-template-columns: auto 330px;
  grid-template-rows: auto;
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  padding: 17px 25px 25px;
}
.statistic__title {
  margin-bottom: 25px;
}
.statistic__date {
  padding: 10px 15px !important;
}
.statistic__flex {
  @include flex(flex, space-between, center, none, none);
  margin-bottom: 16px;
}
.statistic__calendar {
  @include wrap(var(--bg-color4), var(--box-shadow21), 10px);
  padding: 7px 10px;
  display: block !important;
}
.statistic__btn-prev {
  top: 33px !important;
  right: 60px !important;
  left: unset !important;
  color: transparent !important;
}
.statistic__btn-next {
  top: 35px !important;
  right: 35px !important;
  color: transparent !important;
}
.statistic__flex-calendar {
  @include flex(flex, center, center, none, none);
  @include wrap(var(--bg-color4), var(--box-shadow21), 10px);
  padding: 7px 10px;
  margin-left: 25px;
}
.statistic__calendar-btn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  @include flex(flex, center, center, none, none);
  cursor: pointer;
}
.statistic__calendar-btn:first-child {
  margin-right: 10%;
}
.statistic__icon {
  width: 24px;
  height: 24px;
  color: var(--color-main);
}
.statistic__icon--rotate {
  transform: rotate(180deg);
}
.statistic__icon--rotate2 {
  transform: rotate(0deg);
}
