.swiper1 {
  // width: 69%;
  // position: absolute !important;
  margin: 0 auto;
}
.swiper1 {
  margin-bottom: 25px;
}
.swiper-slide1 {
  display: block;
  cursor: pointer;
  width: auto !important;
}
// .swiper-slide1__img {
//   height: 20px;
//   width: 20px;
// }
