table {
  width: 100%;
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  padding: 0px 25px 25px;
  margin-bottom: 30px;
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}
.tablet__flex {
  @include flex(flex, space-between, center, none, none);
}
.tablet__flex1 {
  @include flex(flex, space-between, center, none, none);
}
.tablet__flex1 > .button {
  margin-right: 10px;
}
td {
  border-collapse: separate;
  border-spacing: 0 8px;
  @include wrap(var(--bg-color4), 0 0 0 0, 0);
}
td:first-child {
  border-radius: 20px 0 0 20px;
  width: 170px;
  padding-left: 19px;
  padding-top: 8px;
}
td:nth-child(2) {
  width: 238px;
  padding: 20px 5px;
}
td:nth-child(6) {
 white-space: nowrap;
}
td:last-child {
  border-radius: 0 20px 20px 0;
}
th {
  padding: 15px;
  text-align: left;
}

td {
  padding-top: 26px;
  padding-bottom: 16px;
  padding-left: 26px;
  padding-right: 0px;
  text-align: left;
}
td:last-child {
  white-space: nowrap;
  padding-right: 22px;
  padding-left: 27px;
  padding-top: 0px;
}
.tablet__flex > .button:first-child {
  margin-right: 10px;
}
.tablet__button {
  margin-bottom: 13px;
  white-space: nowrap;
}
.tablet__submenu {
  position: absolute;
  display: none;
}
.tablet__up {
  position: absolute;
  top: -10px;
  height: 15px;
  width: 24px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px;
  color: var(--bg-color5);
}
.tablet__button:hover + .tablet__submenu {
  display: block;
}
.tablet__button:hover > .button__down {
  transform: rotate(0deg);
}
.tablet__title:first-child {
  margin-bottom: 10px;
}
.tablet__profile > .profile__wrap-img {
  margin-right: 10px;
}
.tablet__profile > .profile__wrap-icon {
  margin-right: 10px;
}
.tablet__flex > .button:last-child {
  margin-left: 20px;
}
.tablet__first {
  width: 250px !important;
}
.tablet__last {
  width: 250px !important;
}
.button--sb:hover ~ .tablet__submenu {
  display: block;
}
.tablet__td2{
  width: auto !important;
}
.tablet__td3{
  width: 300px;
}