table {
  width: 100%;
  @include wrap(var(--bg-color5), var(--box-shadow3), 20px);
  padding: 0px 25px 25px;
  margin-bottom: 30px;
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}
.tablet__cell > .tablet__title {
  white-space: nowrap;
  @include media($lg) {
    white-space: unset !important;
  }
}
.tablet__flex {
  @include flex(flex, space-between, center, none, none);
}
.tablet__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: flex-end;
}
.tablet__flex1 {
  @include flex(flex, flex-end, center, none, none);
  position: relative;
  @include media($lg) {
    flex-wrap: wrap;
  }
}
.tablet__flex2 {
  @include flex(flex, none, center, none, none);
}
.tablet__flex1 > .button {
  margin-right: 10px;
  @include media($lg) {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
td {
  border-collapse: separate;
  border-spacing: 0 8px;
  @include wrap(var(--bg-color4), 0 0 0 0, 0);
}
td:first-child {
  border-radius: 20px 0 0 20px;
  width: 170px;
  padding-left: 19px;
  padding-top: 8px;
}
td:nth-child(2) {
  width: 238px;
  padding: 20px 5px;
}
td:nth-child(6) {
  white-space: nowrap;
}
td:last-child {
  border-radius: 0 20px 20px 0;
}
th {
  padding: 15px;
  text-align: left;
}

td {
  padding-top: 26px;
  padding-bottom: 16px;
  padding-left: 26px;
  padding-right: 0px;
  text-align: left;
}
td:last-child {
  white-space: nowrap;
  padding: 0 22px 0 27px !important;
}
.tablet__flex > .button:first-child {
  margin-right: 10px;
}
.tablet__wrap2 > .button:first-child {
  margin-right: 10px;
}
.tablet__wrap > .button:first-child {
  margin-right: 10px;
}
.tablet__button {
  white-space: nowrap;
}
.tablet__wrap {
  position: relative;
  padding-right: 15px;
  @include media($lg) {
    padding-right: 0;
  }
}
.tablet__wrap2 {
  position: relative;
  padding-left: 5px;
  @include media($lg) {
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.tablet__wrap:after {
  position: absolute;
  content: " ";
  top: 12px;
  right: 6px;
  height: 20px;
  background: var(--bg-line);
  width: 2px;
  @include media($lg) {
    display: none;
  }
}
.tablet__wrap2:after {
  position: absolute;
  content: " ";
  top: 12px;
  left: -4px;
  height: 20px;
  background: var(--bg-line);
  width: 2px;
  @include media($lg) {
    display: none;
  }
}
.tablet__button > .button__icon {
  margin-right: 5px;
}
.tablet__submenu {
  position: absolute;
  display: none;
}
.tablet__up {
  position: absolute;
  top: -10px;
  height: 15px;
  width: 24px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px;
  color: var(--bg-color5);
}
.tablet__button:hover + .tablet__submenu {
  display: block;
}
.tablet__button:hover > .button__down {
  transform: rotate(0deg);
}
.tablet__title:not(:last-child) {
  margin-bottom: 10px;
}
.tablet__profile {
  text-decoration: none;
}
.tablet__profile > .profile__wrap-img {
  margin-right: 10px;
}
.tablet__profile > .profile__wrap-icon {
  margin-right: 10px;
}
.tablet__flex > .button:last-child {
  margin-left: 20px;
}
.tablet__first {
  width: 250px !important;
}
.tablet__last {
  width: 250px !important;
}
.button--sb:hover ~ .tablet__submenu {
  display: block;
}
.tablet__td2 {
  width: auto !important;
}
.tablet__td3 {
  width: 300px !important;
}
.tablet__td4 {
  width: 186px !important;
  padding-left: 30px !important;
}
.tablet__td5 {
  width: 23% !important;
}
.tablet__td6 {
  width: 28% !important;
}
.tablet__td7 {
  width: 26% !important;
}
.tablet__td8 {
  width: 19% !important;
}
.tablet__td9 {
  width: 11% !important;
}
.tablet__td10 {
  padding-bottom: 0 !important;
}
.tablet__td11 {
  white-space: nowrap;
}
.tablet__td12 {
  width: 8% !important;
}
.tablet__td13 {
  max-width: 28% !important;
  padding-left: 20px !important;
  // @include media($lg) {
  //   width: 100px !important;

  // }
}
td:last-child > .profile__title {
  margin-bottom: 0;
}
.tablet__text {
  @include font(15px, 18px, 400);
  color: var(--color-main);
  font-feature-settings: "pnum" on, "lnum" on;
  margin-bottom: 10px;
  margin-left: 5px;
}
.tablet__popular-categories {
  @include flex(flex, none, center, none, none);
  background: transparent !important;
  box-shadow: 0 0 0 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.tablet__popular-categories > .popular-categories__wrap-img {
  margin-right: 10px;
}
.tablet__popular-categories > .popular-categories__wrap-img2 {
  margin-right: 10px;
}
.tablet__flex-btn {
  @include flex(flex, none, center, none, none);
}
.tablet__flex-btn > .tablet__button:not(:last-child) {
  margin-right: 10px;
  height: 50px;
}
